.center-table {
    width: 100%;
}

.center-table .center-card {
    display: flex;
    padding: 10px;
    background: #f8f9fa; /* Card background color */
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Card shadow */
    margin-bottom: 10px;
    transition: transform 0.3s; /* Add transition for hover effect */
}

.center-table .center-card:hover {
    transform: scale(1.05); /* Scale up the card on hover */
}

.center-table .center-card > td {
    flex: 1; /* Each column takes equal width */
}

.center-table {
    width: 100%;
}

.center-table .center-card {
    display: flex;
    padding: 10px;
    background: #f8f9fa; /* Card background color */
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Card shadow */
    margin-bottom: 10px;
    transition: transform 0.3s; /* Add transition for hover effect */
}

.center-table .center-card:hover {
    transform: scale(1.05); /* Scale up the card on hover */
}

.center-table .center-card > td {
    flex: 1; /* Each column takes equal width */
}
.tabs {
    display: flex;
}

.tabs button {
    background-color: #f8f9fa;
    border: none;
    padding: 10px;
    cursor: pointer;
}

.tabs button.active {
    background-color: #ccc;
}

.input-fields {
    display: flex;
    align-items: center;
}

.input-fields input {
    padding: 8px;
    margin-right: 10px;
    border: 1px solid #ccc;
}

.input-fields button {
    padding: 8px 15px;
    background-color: #007bff;
    color: white;
    border: none;
    cursor: pointer;
}
.tabs {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}

.tabs button {
    margin: 0 0px;
    padding: 5px 10px;
    background-color: #f0f0f0;
    border: none;
    cursor: pointer;
}

.tabs button:hover {
    background-color: #e0e0e0;
}

.search-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.search-container input {
    padding: 8px 20px;
    border: 1px solid #ccc;
    border-radius: 4px;
    margin-right: 10px;
}

.search-container input:focus {
    outline: none;
    border-color: #555;
}
.tabs {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}

.tabs button {
    margin: 10 0px;
    padding: 10px 20px;
    background-color: hsl(0, 0%, 100%);
    border: none;
    cursor: pointer;
    position: relative;
}

.tabs button.active {
    color: #333;
}

.tabs button.active::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 2px;
    background-color: #333;
}
